    .hero {
        min-height: 70vh;
        padding: 120px 0;
        background: linear-gradient(135deg, #4c6282, #0a58ca);
        color: white;
        display: flex;
        align-items: center;
    }

    .hero .btn {
        background-color: white;
        color: #0d6efd;
        border: none;
    }
    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        transition: transform 0.2s ease;
    }

    .card:hover {
        transform: translateY(-5px);
    }
    footer {
        font-size: 14px;
    }
    .section-padding {
    padding: 90px 0;
}

